/* Font et variables */
:root {
    --couleur-rouge: #E20A16;
    --couleur-noir: #000;
    --couleur-blanc: #fff;
    --couleur-gris: #4D4D4D;
    --couleur-gris-pale: #C8C8C8;

    --poppins: "Poppins";
    --bank-gothic: "BankGothic";
}

@font-face {
    font-family: "BankGothic";
    src: url(../assets/polices/bankgothic-md-bt/bankgothic-md-bt/BankGothic\ Bold.ttf) format("truetype");
    src: url(../assets/polices/bankgothic-md-bt/BankGothicLightRegular.otf) format("truetype")
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

/*creation du style du menu burger, ajoute ses dimensions, detecte le clique,
 permet de descendre avec la page tout en gardant sa position, le met en avant plan et centre les bar qui le compose */
.menu-icon {
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3S;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Cache la checkbox */
#menu-toggle {
    display: none;
}

/* modifie le bouton burger lorsqu'il est cliqué */
.menu-icon {
    width: 30px;
    height: 25px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

/*modifie le X du bouton burger lorsqu'il est cliqué */

.menu-icon span {
    height: 4px;
    background: var(--couleur-blanc);
    border-radius: 2px;
    transition: 0.3s;
}

/* modification du Menu latéral du menu burger, change sa position pour qu'il soit invisible, change sa hauteur et sa largeur,
ajoute une transition lors de l'ouverture, empeche que la position négative s'ajoute a la page et dévoile le menu tout le temps
 et fait en sorte que la bordure soit comprise dans le conteneur */
aside {
    position: fixed;
    left: -100%;
    top: 0;
    width: 250px;
    height: 100vh;
    background: var(--couleur-gris);
    color: var(--couleur-blanc);
    padding: 60px 20px;
    transition: left 0.3s ease;
    z-index: 2;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Animation du menu burger */
#menu-toggle:checked+label .bar:nth-child(1) {
    transform: rotate(45deg) translateY(14px);
}

#menu-toggle:checked+label .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+label .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-14px);
}

/* Affichage du menu */
#menu-toggle:checked~aside {
    left: 0;
}

/*enlève la nav inultile du header en version mobile*/

.haut-page {
    display: none;
}

/*modifie la grosseur du logo du header*/

.logo-square {
    width: 120px;
    height: 100%;
    width: 100%;
}

/*place le texte du header en colonne et avec un espace entre chaque texte*/

.header-burger ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/*change la grosseur de texte du header*/

.header-burger li {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
}

/*force la navigation a prendre toute la largeur*/

header nav {
    height: 100%;
}

/*force le ul a prendre toute la largeur de la navigation*/

header ul {
    width: 100%;
}

/*modifie l'emplacement, la largeur,la font et la grosseur du texte des texte du header*/

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem, 2vw, 2rem);
}

/* Styles Généraux */
h1,
h2,
h3 {
    /* Modification du texte dans les balises de titrage */
    font-family: var(--bank-gothic);
    color: var(--couleur-blanc);
    text-align: center;
}

/* Modification de la taille du texte dans les différents titrages */
h1 {
    font-size: clamp(1rem, 7.5vw, 4rem);
}

h2 {
    font-size: clamp(1rem, 5vw, 3rem);
}

h3 {
    font-size: clamp(0.75rem, 5vw, 2.5rem);
}

p {
    /* Modification du texte dans les balises paragraphes */
    font-family: var(--poppins);
    color: var(--couleur-blanc);
    font-size: clamp(0.5rem, 5vw, 2.25rem);
    text-align: center;
}

li {
    /* Modification de la taille du textes dans les li et retrait du bullet point */
    list-style-type: none;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    text-align: center;
}

a {
    /* application du flexbox et retrait des propriétés  */
    text-decoration: none;
    color: var(--couleur-blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modification des barres de recherches */
input[type="search"] {
    background-color: var(--couleur-gris);
    width: 100%;
    font-size: clamp(1.25rem, 5vw, 1.75rem);
    color: var(--couleur-blanc);
}

body {
    margin: 0; /* Le body avait automatiquement une marge, d'où pourquoi il y a une marge de 0 */
    background-color: #3C3C3C; /* Application de la couleur de fond de la page */
}

main {
    /* Arrangement de la largeur et des marges du contenu de la page */
    width: 90%;
    margin: 0 auto;
    padding: 1vw 0;
}

img {
    /* S'assure que les images font la largeur qui leur est alloué */
    width: 100%;
}

ul {
    /* Retrait du padding d'indentation et configuration du flexbox */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lignes {
    display: none;
    /* J'ai essayé de faire que les lignes s'affichent correctement, mais je n'ai pas été capable (Les lignes étaient trop grosses et rendait le logo de square enix trop petit)
    Je l'ai laissé ici pour démontrer que j'ai essayé. */
}

/*------------------------------------------------------------------------------------
Style Header
------------------------------------------------------------------------------------*/
header {
    /* Modification de la taille, configuration du flexbox et couleur de fond du header */
    width: 100%;
    background-color: var(--couleur-noir);
    aspect-ratio: 144/20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav {
    /* Configuration du flexbox et modification de la hauteur */
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header ul {
    /* Configuration du flexbox et modification de la largeur */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header li {
    /* Configuration du flexbox, de la fonte et de la transition */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem, 2vw, 2rem);
    transition: transform;
    transition-duration: 200ms;
    transform: scale(1);
}

.logo-square {
    /* Le logo prend toute la place allouée */
    height: 100%;
    width: 100%;
}

header li:hover {
    /* Transformation de l'échelle lorsqu'un bouton est hovered par la souris */
    transform: scale(1.5);
}

/*------------------------------------------------------------------
Style Aside
------------------------------------------------------------------*/
/* Idem header, mais sur la verticale au lieu de l'horizontale. */
aside {
    width: 100%;
    background-color: var(--couleur-noir);
    aspect-ratio: 144/20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

aside ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

aside li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem, 2vw, 2rem);
}

/*------------------------------------------------------------------
Style Footer
------------------------------------------------------------------*/
footer {
    /* Changement de la largeur, de la couleur de fond et configuration du flexbox */
    width: 100%;
    background-color: var(--couleur-noir);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav {
    /* configuration du flexbox et changement de la hauteur */
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

footer ul {
    /* Configuration du flexbox */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.liens {
    /* restraint la hauteur de la section .liens lorsqu'en mobile */
    height: 75%;
}

.reseaux-sociaux {
    /* Restraint la hauteur de la section .reseaux-sociaux lorsqu'en mobile et configuration du flexbox */
    height: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.liens li {
    /* Configuration du flexbox de la fonte et des marges */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem, 1.5vw, 1.75rem);
    margin: 15px 0;
}

.reseaux-sociaux li {
    /* Configuration du flexbox, modification des marges et de la largeur */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 15px 0;
}

.reseaux-sociaux img {
    /* restriction de la taille des images de réseaux sociaux */
    width: 50%;
    height: 50%;
}

.images-footer {
    /* restriction de la largeur et configuration du flexbox */
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*------------------------------------------------------------------
Section Desktop
------------------------------------------------------------------*/
@media screen and (min-width: 800px) {
    /* Changement du footer de colonnes à rangées */
    footer {
        flex-direction: row;
    }

    footer nav {
        width: 70%;
        flex-direction: row;
    }

    footer ul {
        flex-direction: row;
    }

    .liens {
        width: 70%;
        margin: auto;
    }

    .reseaux-sociaux {
        width: 25%;
        flex-direction: row;
    }

    .liens li {
        width: 30%;
        margin: 15px 0;
    }

    .reseaux-sociaux li {
        width: 30%;
        margin: 20px 0;
    }

    .images-footer {
        width: 30%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo_square_enix_footer {
        flex-grow: 1;
    }

    /* Disparition du menu burger, apparition du haut de page */
    .menu-burger {
        display: none;
    }

    .haut-page {
        display: flex;
    }
}