/* Font et variables */
:root {
    --couleur-rouge: #E20A16;
    --couleur-noir: #000;
    --couleur-blanc: #fff;
    --couleur-gris: #4D4D4D;
    --couleur-gris-pale: #C8C8C8;

    --poppins: "Poppins";
    --bank-gothic: "BankGothic";
}

@font-face {
    font-family: "BankGothic";
    src: url(../assets/polices/bankgothic-md-bt/bankgothic-md-bt/BankGothic\ Bold.ttf) format("truetype");
    src: url(../assets/polices/bankgothic-md-bt/BankGothicLightRegular.otf) format("truetype")
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

/* Styles Généraux */
h1, h2, h3 {
    font-family: var(--bank-gothic);
    color: var(--couleur-blanc);
    text-align: center;
}

h1 {
    font-size: clamp(1rem,7.5vw,4rem);
}

h2 {
    font-size: clamp(1rem,5vw,3rem);
}

h3 {
    font-size: clamp(0.75rem,5vw,2.5rem);
}

p {
    font-family: var(--poppins);
    color: var(--couleur-blanc);
    font-size: clamp(0.5rem,5vw,2.25rem);
    text-align: center;
}

li {
    list-style-type: none;
    font-size: clamp(1rem,2.5vw,2.5rem);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--couleur-blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
    background-color: var(--couleur-gris);
    width: 100%;
    font-size: clamp(1.25rem,5vw,1.75rem);
    color: var(--couleur-blanc);
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 1vw 0;
}

body {
    margin: 0;
    background-color: #3C3C3C;
}

img {
    width: 100%;
}

ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lignes {
    height: 100%;
    display: none;
}

/* Style Header */
header {
    width: 100%;
    background-color: var(--couleur-noir);
    aspect-ratio: 144/20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem,2vw,2rem);
}

.logo-square {
    height: 100%;
    width: 100%;
}

/* Style Aside */
aside {
    width: 100%;
    background-color: var(--couleur-noir);
    aspect-ratio: 144/20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

aside ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

aside li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem,2vw,2rem);
}

aside a {
    text-decoration: none;
    color: var(--couleur-blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style Footer */
footer {
    width: 100%;
    background-color: var(--couleur-noir);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

footer ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.liens {
    height: 75%;
}

.reseaux-sociaux {
    height: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.liens li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem,1.5vw,1.75rem);
    margin: 15px 0;
}

.reseaux-sociaux li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 15px 0;
}

.reseaux-sociaux img {
    width: 50%;
    height: 50%;
}

.images-footer {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.images-footer img {
    width: 100%;
}

@media screen and (min-width: 800px) {
    footer {
        flex-direction: row;
    }

    footer nav {
        width: 70%;
        flex-direction: row;
    }

    footer ul {
        flex-direction: row;
    }

    .liens {
        width: 70%;
        margin: auto;
    }

    .reseaux-sociaux {
        width: 25%;
        flex-direction: row;
    }

    .liens li {
        width: 30%;
        margin: 15px 0;
    }

    .reseaux-sociaux li {
        width: 30%;
        margin: 20px 0;
    }

    .lignes {
        display: inline-block;
    }

    .images-footer {
        width: 30%;
        flex-direction: row;
        justify-content: space-between;
    }

    .images-footer img {
        width: 50%;
    }

    .images-footer:nth-child(2) {
        align-self: flex-end;
    }
}