/* Font et variables */
:root {
    --couleur-rouge: #E20A16;
    --couleur-noir: #000;
    --couleur-blanc: #fff;
    --couleur-gris: #4D4D4D;
    --couleur-gris-pale: #C8C8C8;
    
    --poppins: "Poppins";
    --bank-gothic: "BankGothic";
}

@font-face {
    font-family: "BankGothic";
    src: url(../assets/polices/bankgothic-md-bt/bankgothic-md-bt/BankGothic\ Bold.ttf) format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Styles Généraux */
h1 {
    font-family: var(--bank-gothic);
    color: var(--couleur-blanc);
    font-size: clamp(1rem,10vw,4rem);
}

h2 {
    font-family: var(--bank-gothic);
    color: var(--couleur-blanc);
    font-size: clamp(1rem,5vw,3rem);
}

h3 {
    font-family: var(--bank-gothic);
    color: var(--couleur-blanc);
    font-size: clamp(0.75rem,5vw,2.5rem);
}

p {
    font-family: var(--poppins);
    color: var(--couleur-blanc);
    font-size: clamp(0.5rem,5vw,2.25rem);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--couleur-blanc);
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Section Main */
main {
    width: 90%;
    margin: 0 auto;
}


/* Style Body */
body {
    margin: 0;
    background-color: #3C3C3C;
}


aside{
    width: 100%;
    background-color: var(--couleur-noir);
    aspect-ratio: 144/20;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

aside nav{
    display: flex;
    justify-content:space-between;
    height: 100%;
}

aside ul{
    display: flex; 
    justify-content:space-between;
    width: 100%; 
}

aside li{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem,2vw,2rem);
}

aside a{
    text-decoration: none;
    color: var(--couleur-blanc);
    display: flex; 
    justify-content: center;
    align-items: center;
}


/* Style Header */
header {
    width: 100%;
    background-color: var(--couleur-noir);
    aspect-ratio: 144/20;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

header nav {
    display: flex;
    justify-content:space-between;
    height: 100%;
}

header ul {
    display: flex; 
    justify-content:space-between;
    width: 100%;
}

header li {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem,2vw,2rem);
}

.logo-square {
    height: 100%;
    width: 100%;
}

/* Style footer */
footer {
    width: 100%;
    background-color: var(--couleur-noir);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content:space-between;
    height: 100%;
    flex-direction: column;
}

footer ul {
    display: flex; 
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.liens {
    height: 75%;
}

.reseaux-sociaux {
    height: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.liens li {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem,1.5vw,1.75rem);
    margin: 15px 0;
}

.reseaux-sociaux li {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 15px 0;
}

.reseaux-sociaux img {
    width: 50%;
    height: 50%;
}

.images-footer {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.images-footer img {
    width: 100%;
}

.lignes {
    height: 100%;
    display: none;
}

img {
    width: 100%;
}

@media screen and (min-width: 800px) {
    footer {
        width: 100%;
        background-color: var(--couleur-noir);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    footer nav {
        display: flex;
        justify-content:space-between;
        width: 70%;
        flex-direction: row;
    }
    
    footer ul {
        display: flex; 
        justify-content:space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .liens {
        width: 70%;
        margin: auto;
    }
    
    .reseaux-sociaux {
        width: 25%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .liens li {
        display: flex; 
        justify-content: center;
        align-items: center;
        font-family: var(--bank-gothic);
        font-size: clamp(1rem,1.5vw,1.75rem);
        margin: 15px 0;
    }
    
    .reseaux-sociaux li {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 20px 0;
    }
    
    .reseaux-sociaux img {
        width: 50%;
        height: 50%;
    }
    
    .images-footer {
        width: 30%;
        display: flex;
        align-items: center;
    }
    
    .images-footer img {
        width: 100%;
    }
    
    .lignes {
        height: 100%;
        display: block;
    }
    
    img {
        width: 100%;
    }
}