/* Font et variables */
:root {
    --couleur-rouge: #E20A16;
    --couleur-noir: #000;
    --couleur-blanc: #fff;
    --couleur-gris: #4D4D4D;
    --couleur-gris-pale: #C8C8C8;
    
    --poppins: "Poppins";
    --bank-gothic: "BankGothic";
}

@font-face {
    font-family: "BankGothic";
    src: url(../assets/polices/bankgothic-md-bt/bankgothic-md-bt/BankGothic\ Bold.ttf) format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main.assistant {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    align-self: stretch;
}

.recherche-jeux {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.recherche-console, .recherche-serie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

input[type="search"] {
    background-color: var(--couleur-gris);
    width: 100%;
    font-size: clamp(1.25rem,5vw,1.75rem);
    color: var(--couleur-blanc);
}

.assistant {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.assistant li {
    width: 100%;
    margin: 10px 0;
    border-style: solid;
    border-width: 10%;
    background-color: var(--couleur-gris);
}

.assistant a {
    width: 100%;
    aspect-ratio: 235/100;
}

.logo.switch {
    background-image: url("../assets/images/logo_switch.png");
    background-position: center;
}
.logo.ps5 {
    background-image: url("../assets/images/logo_ps5.png");
    background-position: center;
}
.logo.xbox-series {
    background-image: url("../assets/images/logo_xbox_series.png");
    background-position: center;
}
.logo.windows {
    background-image: url("../assets/images/logo_windows.png");
    background-position: center;
}
.logo.ds {
    background-image: url("../assets/images/logo_ds.png");
    background-position: center;
}
.logo.ps4 {
    background-image: url("../assets/images/logo_ps4.png");
    background-position: center;
}
.logo.xbox-one {
    background-image: url("../assets/images/logo_xbox_one.png");
    background-position: center;
}
.logo.android {
    background-image: url("../assets/images/logo_android.png");
}

.logo.fantasy {
    background-image: url("../assets/images/frame_final_fantasy.png");
    background-size: cover;
}
.logo.dragon {
    background-image: url("../assets/images/frame_dragon_quest.png");
    background-size: cover;
}
.logo.raider {
    background-image: url("../assets/images/frame_tomb_raider.png");
    background-size: cover;
}
.logo.strange {
    background-image: url("../assets/images/frame_life_is_strange.png");
    background-size: cover;
}
.logo.kingdom {
    background-image: url("../assets/images/frame_kingdom_hearts.png");
    background-size: cover;
}
.logo.nier {
    background-image: url("../assets/images/frame_nier_automata.png");
    background-size: cover;
}
.logo.romancing {
    background-image: url("../assets/images/frame_romancing_saga.png");
    background-size: cover;
}
.logo.bravely {
    background-image: url("../assets/images/frame_braverly_default.png");
    background-size: cover;
}

.logo {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: 'poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 600px) {
    
}