.rechercher-texte {
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: grey;
}

.image-vampire{
    width: 100%;
}

@media screen and (min-width: 600px) {
    .hamburger-menu{display: none;}

}


