:root {
    --couleur-rouge: #E20A16;
    --couleur-noir: #000;
    --couleur-blanc: #fff;
    --couleur-gris: #4D4D4D;
    --couleur-gris-pale: #C8C8C8;

    --poppins: "Poppins";
    --bank-gothic: "BankGothic";
}

@font-face {
    font-family: "BankGothic";
    src: url(../assets/polices/bankgothic-md-bt/bankgothic-md-bt/BankGothic\ Bold.ttf) format("truetype");
    src: url(../assets/polices/bankgothic-md-bt/BankGothicLightRegular.otf) format("truetype")
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');



.rechercher {
    display: flex;
    margin-bottom: 8px;
}

.rechercher-texte {
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: grey;
    font-size: small;
    border: 4px, solid, black;
}

.image-vampire {
    width: 100%;
}

::placeholder {
    color: black;
    opacity: 1;
    padding: 2%;
    font-family: var(--bank-gothic);
}



.jeu-defilement {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 8px;
}

.jeu-defilement img {
    border: 4px solid black;
    width: 25%;
    height: auto;
    box-sizing: border-box;
}

.vente_ete {
    border: 4px, black, solid;
    object-fit: contain;
}

.image-banniere {
    border: 4px, solid, black;
    margin-bottom: 8px;
}

.espace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-banniere {
    font-family: var(--poppins);
    color: var(--couleur-blanc);
    font-size: clamp(0.5rem, 5vw, 1.25rem);
    text-align: center;
}



.checkbox-connexion {
    display: flex;
    align-items: center;
    gap: 8px;
}

.prompt-texte{
    width: 100%;
}

.prompt {
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: grey;
    font-size: small;
    border: 4px, solid, black;
    display: flex;
    margin-bottom: 8px;
    height: 40px;
}

.qr-code {
    display: none;
}

.texte-petit {
    display: none;
}

main.connexion {
    display: block;
}

.section {
    width: 70%;
}

.section p {
    text-align: left;
    margin: 10px 0;
    font-family: var(--bank-gothic);
    color: var(--couleur-blanc);
}

button {
    background-color: var(--couleur-noir);
    font-family: var(--bank-gothic);
    color: var(--couleur-blanc);
    font-size: clamp(0.5rem, 5vw, 1.25rem);
    text-align: center;
    padding: 15px;
    width: 100%;
    font-weight: lighter;
    margin-bottom: 20px;
}

.titre {
    height: 40px;
    margin-bottom: 10px ;
}

.checkbox-connexion p {
    font-size: clamp(0.5rem, 5vw, 1rem);
}

@media screen and (min-width: 800px) {
    .menu-icon {
        display: none;
    }

    .rechercher-texte {
        border: 9px, solid, black;
        font-size: larger;
    }

    .image-banniere {
        border: 9px, solid, black;
    }

    .espace {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .jeu-defilement {
        display: flex;
        justify-content: space-around;
    }

    .jeu-defilement img {
        border: 9px, black, solid;
        object-fit: contain;
    }

    .vente_ete {
        border: 9px, black, solid;
        object-fit: contain;
    }

    .checkbox-connexion {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .prompt-texte {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
        background-color: var(--couleur-blanc);
        font-size: small;
        border: 4px, solid, black;
    }

    .prompt {
        display: flex;
        margin-bottom: 8px;
        height: 60px;
    }

    .qr-code {
        display:block;
        width: 100%;
        background-color: var(--couleur-blanc);
    }



    main.connexion {
        display: flex;
        justify-content: space-between;
    }

    .section {
        width: 48%;
    }

    .section p {
        text-align: left;
        margin: 10px 0;
        font-family: var(--bank-gothic);
        color: var(--couleur-blanc);
    }

    button {
        background-color: var(--couleur-noir);
        font-family: var(--bank-gothic);
        color: var(--couleur-blanc);
        font-size: clamp(0.5rem, 5vw, 1.75rem);
        text-align: center;
        padding: 30px;
        width: 100%;
        font-weight: lighter;
    }

    .titre {
        height: 80px;
        margin-bottom: 10px ;
    }

    .checkbox-connexion p {
        font-size: clamp(0.5rem, 5vw, 1.25rem);
    }

    .texte-petit {
        font-size: clamp(0.5rem, 5vw, 1.25rem);
        text-align: center !important;
        display: block;
    }
}