.rechercher-texte {
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: grey;
}

.image-vampire{
    width: 100%;
}

@media screen and (min-width: 600px) {
    .hamburger-menu{display: none;}

}
aside{
    width: 100%;
    background-color: var(--couleur-noir);
    aspect-ratio: 144/20;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

aside nav{
    display: flex;
    justify-content:space-between;
    height: 100%;
}

aside ul{
    display: flex; 
    justify-content:space-between;
    width: 100%; 
}

aside li{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: var(--bank-gothic);
    font-size: clamp(1rem,2vw,2rem);
}

aside a{
    text-decoration: none;
    color: var(--couleur-blanc);
    display: flex; 
    justify-content: center;
    align-items: center;
}