:root {
    --couleur-rouge: #E20A16;
    --couleur-noir: #000;
    --couleur-blanc: #fff;
    --couleur-gris: #4D4D4D;
    --couleur-gris-pale: #C8C8C8;
    
    --poppins: "Poppins";
    --bank-gothic: "BankGothic";
}

@font-face {
    font-family: "BankGothic";
    src: url(../assets/polices/bankgothic-md-bt/bankgothic-md-bt/BankGothic\ Bold.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

main.assistant, .recherche-jeux, .recherche-console, .recherche-serie {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

main.assistant {
    gap: 8vh;
}

.assistant {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.assistant li {
    width: 100%;
    margin: 10px 0;
    border-style: solid;
    border-width: 10%;
    background-color: var(--couleur-gris);
}

.assistant a {
    width: 100%;
    aspect-ratio: 235 / 100;
}

.logo {
    color: var(--couleur-blanc);
    text-align: center;
    -webkit-text-stroke: 1px var(--couleur-noir);
    font-family: var(--poppins);
    font-size: 32px;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo.switch { background-image: url("../assets/images/logo_switch.png"); }
.logo.ps5 { background-image: url("../assets/images/logo_ps5.png"); }
.logo.xbox-series { background-image: url("../assets/images/logo_xbox_series.png"); }
.logo.windows { background-image: url("../assets/images/logo_windows.png"); }
.logo.ds { background-image: url("../assets/images/logo_ds.png"); }
.logo.ps4 { background-image: url("../assets/images/logo_ps4.png"); }
.logo.xbox-one { background-image: url("../assets/images/logo_xbox_one.png"); }
.logo.android { background-image: url("../assets/images/logo_android.png"); }

.console .logo {
    background-size: contain;
}

.logo.fantasy { background-image: url("../assets/images/frame_final_fantasy.png"); }
.logo.dragon { background-image: url("../assets/images/frame_dragon_quest.png"); }
.logo.raider { background-image: url("../assets/images/frame_tomb_raider.png"); }
.logo.strange { background-image: url("../assets/images/frame_life_is_strange.png"); }
.logo.kingdom { background-image: url("../assets/images/frame_kingdom_hearts.png"); }
.logo.nier { background-image: url("../assets/images/frame_nier_automata.png"); }
.logo.romancing { background-image: url("../assets/images/frame_romancing_saga.png"); }
.logo.bravely { background-image: url("../assets/images/frame_braverly_default.png"); }

h1, .description {
    padding: 5px;
    background-color: var(--couleur-gris);
    border: solid var(--couleur-noir);
}

.image-powerwash img {
    border-style: solid;
    border-width: 4%;
}

.boutons {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.boutons li {
    background-color: var(--couleur-gris);
    border-style: solid;
    border-width: 4%;
    margin: 10px 0;
    width: 90%;
    padding: 4%;
}

@media screen and (min-width: 800px) {
    main.assistant {
        gap: 1vh;
        width: 90%;
    }

    .recherche-jeux, .recherche-console, .recherche-serie {
        width: 100%;
    }

    .assistant {
        flex-direction: row;
        width: 100%;
        background-size: cover;
    }

    .assistant li {
        width: 40%;
        margin: 10px;
        max-width: 315px;
    }

    .boutons {
        width: 90%;
        flex-direction: row;
    }

    .boutons li {
        border-width: 2%;
        margin: 10px;
        width: 45%;
        padding: 2%;
    }
}